@page "/Jobs/NewInstall"
@inject IJobService JobService

<h1>New Installs</h1>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Status</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                var link = $"Customer/{job.Customer.Id}/NewInstall/{job.Id}";

                <tr>
                    <td><NavLink href="@link">@job.SerialNumber</NavLink></td>
                    <td><span class="badge badge-primary @job.Status.ToString().ToLower()">@job.Status</span></td>
                    <td>@job.Customer.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<NewInstall> jobs;

    protected override async Task OnInitializedAsync()
    { 
        jobs = await JobService.GetNewInstalls();
    }
}