@inherits JobComponentBase
@inject IInvoiceService InvoiceService
@inject IWebHostEnvironment WebHostEnvironment

@if (IsVisible)
{
    <section>
        <fieldset>
            <legend>
                Invoices
            </legend>
            <div>
                <AddInvoiceComponent NewInstall="@NewInstall" OnAddInvoice="@HandleAddInvoice"></AddInvoiceComponent>
            </div>
            <div class="invoice-files">
                 <DisplayInvoicesComponent CustomerId="@NewInstall.Customer.Id" @bind-Invoices="@Invoices" HandleCheck="@HandleInvoiceChecked"></DisplayInvoicesComponent>
            </div>
        </fieldset>
    </section>
}

@code {

    [Parameter]
    public NewInstall NewInstall { get; set; }

    [Parameter]
    public EventCallback<List<Invoice>> EnableSendInvoice { get; set; }

    public List<Invoice> Invoices { get; set; } = new List<Invoice>();

    protected override async Task OnInitializedAsync()
    {
        await BindInvoices();
    }

    private async Task HandleAddInvoice()
    {
        await BindInvoices();
    }

    private async Task BindInvoices()
    {
        Invoices = await InvoiceService.GetInvoicesByJobId(NewInstall.Id);
        //InvoiceFiles = await InvoiceService.GetInvoicesFromAzureStorageByCustomerId(NewInstall.Customer.Id, NewInstall.Id);
    }

    public async Task HandleInvoiceChecked(List<Invoice> lst)
    {
        await EnableSendInvoice.InvokeAsync(lst);
    }
}