
    <div class="state">
        <div class="state-icon @IsComplete">
            <span class="oi oi-check"></span>
        </div>

        <h3 class="@IsComplete">@State</h3>
        <div class="d-none d-sm-block">
            <p>
                @if (Date.HasValue)
                {
                    @Date.Value.ToString("ddd dd MMMM yyyy")
                }
                else
                {
                    <span>Awaiting</span>
                }

                <br />
                @Time
                <br />
            </p>
        </div>
        <div class="d-block d-sm-none">
            <p>
                @if (Date.HasValue)
                {
                    @Date.Value.ToString("dd/MM/yyyy")
                }
                else
                {
                    <span>Awaiting</span>
                }

                <br />
                @Time
                <br />
            </p>
        </div>
    </div>
@if (!IsLastStatus)
{
    <div class="state-line @IsComplete"></div>
}

@code {
    [Parameter]
    public string State { get; set; }

    [Parameter]
    public string IsComplete { get; set; }

    [Parameter]
    public DateTimeOffset? Date { get; set; }

    [Parameter]
    public string Time { get; set; }

    [Parameter]
    public bool IsLastStatus { get; set; }
}
